<a href="https://colab.research.google.com/github/yodobing/hanateam_python_study/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 이름, 나이 , 학과로 구성된 1차원 배열을 만드시오


# 3명의 사람의 이름 ,나이 , 학괄 구성된 2차원 배열을 만드시오

In [2]:
lys = ['이요섭', 24 ,'기계공학과']

ccc = [['이요섭',24,'기계공학과'] ,
       ['남혜빈',24,'소프트웨어공학과'],
       ['이철현',23,'소프트웨어공학과']]

print(lys[1])
print(ccc[0][1])

24
24

In [4]:
data_1_1 = [ [0 for i in range(3)] for j in range(2) ]
print (data_1_1)

[[0, 0, 0], [0, 0, 0]]

In [7]:
#A로 초기화 된 4X4 짜리 2차원 배열을 만드시오

X = [['A' for i in range(4)] for j in range(4)]
print(X)

[['A', 'A', 'A', 'A'], ['A', 'A', 'A', 'A'], ['A', 'A', 'A', 'A'], ['A', 'A', 'A', 'A']]

In [15]:
# append  함수를 사용해서 이름 나이 학번 성별 학년 기타등등을 적어서 자기소개리스트 만들기

me =[]
while (True):
  data = input("정보를 입력하세요")
  if(data == "end"):break;
  me.append(data)

print(me)

정보를 입력하세요이요섭
정보를 입력하세요24
정보를 입력하세요남자
정보를 입력하세요제천
정보를 입력하세요end
['이요섭', '24', '남자', '제천']